/* Controls.css */

/* Ensure the container is set to flexbox */
.controls {
    position: relative;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center; /* Center items vertically */
    margin-top: 15px;
    margin-left: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: solid grey;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .display-icon {
    margin-right: 8px;
  }
  
  .display-icon1 {
    margin-left: auto;
  }
  
  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Position dropdown below the button */
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 5px;
    min-width: 200px;
    z-index: 1; 
  }
  
  .dropdown-content select {
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 4px;

  }
  